# Database Configuration
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# Auction Logic Settings
AUCTION_TIME_EXTENSION_SECONDS=
AUCTION_MIN_BID_STEP=
AUCTION_MIN_DURATION_MINUTES=
AUCTION_LOTS_CHECK_INTERVAL_SECONDS=
